In [52]:
import pandas as pd

from sklearn.model_selection import train_test_split

In [2]:
train_file = "../data/train.csv"
test_file = "../data/test.csv"


train_data = pd.read_csv(train_file)
test_data = pd.read_csv(test_file)

In [5]:
train_data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [37]:
target = "Survived"

a = train_data.dtypes 
b = a[(a=="int64") | (a=="float64")]
numerics = [i for i in b.index if i not in target]

print(numerics)
print(target)

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
Survived

In [32]:
train_data[numerics].head(3)

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250

In [57]:
X_train,X_test,Y_train,Y_test = train_test_split(train_data[numerics]
                              ,train_data[target].values
                              ,test_size=0.3
                              ,random_state=42)

In [58]:
print(len(X_test))
print(len(X_train))

268
623