In [46]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import Imputer
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [4]:
train_file = "../data/train.csv"
test_file = "../data/test.csv"


train_data = pd.read_csv(train_file)
test_data = pd.read_csv(test_file)

In [12]:
train_data.head(2)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C

In [17]:
# Null handling
train_data.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [33]:
imp=Imputer(missing_values="NaN", strategy="mean")
imp.fit(train_data[["Age"]])

train_data[["Age"]]=imp.transform(train_data[["Age"]]).ravel() # what is ravel???

In [34]:
target = "Survived"

a = train_data.dtypes 
b = a[(a=="int64") | (a=="float64")]
numerics = [i for i in b.index if i not in target]



print(numerics)
print(target)

['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare']
Survived

In [35]:
train_data[numerics].head(3)

   PassengerId  Pclass   Age  SibSp  Parch     Fare
0            1       3  22.0      1      0   7.2500
1            2       1  38.0      1      0  71.2833
2            3       3  26.0      0      0   7.9250

In [36]:
X_train,X_test,Y_train,Y_test = train_test_split(train_data[numerics]
                              ,train_data[target].values
                              ,test_size=0.3
                              ,random_state=42)

In [42]:
log_reg = LogisticRegression(penalty="l2", dual=False, tol=0.0001, C=1.0, fit_intercept=True, intercept_scaling=1, class_weight=None, random_state=None, solver="liblinear", max_iter=100, multi_class="ovr", verbose=0, warm_start=False, n_jobs=1)

log_reg.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [44]:
Y_pred = log_reg.predict(X_test)

In [47]:
metrics.accuracy_score(Y_test,Y_pred)

0.72388059701492535

In [56]:
print(list(zip(numerics,log_reg.coef_))
      , log_reg.intercept_)

[('PassengerId', array([ -3.02996724e-05,  -7.07607917e-01,  -3.05474075e-02,
        -2.46101850e-01,   2.24011544e-01,   6.45768673e-03]))] [ 1.83171784]